.disenio, .disenio--header, .disenio--main, .disenio--contenido, .disenio--footer {
  text-align: center;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #9e9e9e; }

.disenio--header {
  background-color: #79a879;
  padding: 2% 2%;
  margin: 5%; }

.disenio--main {
  background-color: #a6c9a6;
  padding: 5% 2%;
  margin: 5%; }

.disenio--contenido {
  background-color: #79a879;
  padding: 2% 2%;
  margin: auto; }

.disenio--footer {
  background-color: #79a879;
  padding: 2% 2%;
  margin: 5%; }
